// Borda do menu do [ButtonDropdown, UIE006]. Deixando um pouco mais escura.
.dropdown-menu {
  border-color: #ccc;
}

// Remover a margin inferior e esquerda do [ButtonApp, UIE008]
.btn-app {
  margin: 0px;
}

// Início das regras para os componentes do form

// Ajuste na posição dos componentes [Checkbox, UIE014] e [Radio, UIE015]
input[type="checkbox"], input[type="radio"] {
  margin-top: 0px;
}

// Ajustar as margens dos componentes [Checkbox, UIE014] e [Radio, UIE015] em um addon no form
.input-group-addon .checkbox, .input-group-addon .radio {
    margin: 0px 0px -8px;
}

// Corrigir border-radius do lado direito dos campos quando estão small e large
// A borda esquerda mantia um radiu de 3px enquanto a direita um radio de 0px
.form-group-sm .form-control, .form-group-lg .form-control {
  border-radius: 0px;
}

// Corrigir bordas do input com state quando houver button
// O button sobrepõe a borda com cor do campo
.input-group-btn:first-child>.btn-group {
    margin-right: 0px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-left: 0px;
}

// Corrigir bordas dos addons quando o campo TextArea é alterado de tamanho
.input-group-addon:first-child {
  border-right: 1px solid;
}
.input-group-addon:last-child {
  border-left: 1px solid;
}
// Fom das regras para os componentes do form

// Manter o componente [WindowModal, UIE024] nas dimensões corretas
.modal.window-modal {
  padding: 4vh !important;

  .modal-dialog {
    width: 100%;
    margin: auto;
    height: 92vh;

    .modal-content {
      height: 100%;

      .modal-body {
        overflow-y: auto;
        height: calc(100% - 125px);
      }
    }
  }
}
// Tamanho máximo de um táblet
@media (max-width: 768px) {
  // Manter o componente [WindowModal, UIE024] nas dimensões corretas
  .modal.window-modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          height: calc(100% - 150px);
        }
      }
    }
  }
}

// Manter o [AlertsPopup, UIE007] no canto superior direito
.alertspopup {
    top: 72px;
    left: auto;
    right: 24px;
    z-index: 1400;
    position: fixed;
    width: 500px;
}

// Início das regras para o [Tabs, UIE029]
.nav-tabs {
  & > li {
    // Largura de cada Tab
    min-width: 157px;

    & > a {
      // Tabs não selecionadas
      border-width: 1px 1px 1px 1px;
      border-color: #eee #eee #ddd #eee;
      border-style: solid;
      background-color: #f9f9f9;

      // Título da Tab
      .title {
        width: 100px;
        height: 22px;
        overflow: hidden;
        white-space: nowrap;

        &.has-button {
          float: left;
        }
      }
      // Animação no título da tab quando passado animed como true
      .marquee span {
        display: inline-block;
        animation: marquee 30s linear infinite;
      }

      button {
        margin-left: 3px;
        padding: 0px 4px;
      }
    }
  }
}

// Regras para a animação marquee
@keyframes marquee {
  40% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(-100%, 0);
  }
  70.1% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

// Conteúdo da Tab
.tab-content > .active {
  border: #ddd solid;
  border-width: 0px 1px 1px 1px;
  padding: 8px 12px;
}
// Fim das regras para o [Tabs, UIE029]

// Início das regras para o [Footer, UIL005]
footer.main-footer {
  font {
    vertical-align: inherit;
  }
}
// Tamanho máximo de um táblet
@media (max-width: 991px) {
  // Manter o componente [WindowModal, UIE024] nas dimensões corretas
  footer.main-footer div{
    text-align: center;
  }
}
// Fim das regras para o [Footer, UIL005]
